<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Tên: {{Name}}</p>
    <p>Email: {{Email}}</p>
    <p>Phản hồi: {{Message}}</p>
    <p>----------------------------------</p>
    <p>Trạng thái: Vấn đề của bạn đã được chúng tôi ghi nhận. Chúng tôi sẽ sớm giải quyết và phản hồi lại bạn nhanh nhất có thể. Hi vọng bạn sẽ có những trải nghiệm tốt hơn khi mua sắm trên trang web chúng tôi.</p>
    <p><b>HULA Sports</b></p>
    <p><i>Trân trọng.</i></p>
</body>
</html>